version: '3.8'

services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      - ACTIVEMQ_ADMIN_LOGIN=admin
      - ACTIVEMQ_ADMIN_PASSWORD=admin
    networks:
      - search_net

  ingestion1:
    build:
      context: ./ingestion-service/
    image: ingestion-service:latest
    container_name: ingestion1
    ports:
      - "5701:5701"
    command: ['datalake', 'logs/log.log']
    environment:
      PUBLIC_IP: "" #IP
      HZ_PORT: "5701"
      REPLICATION_FACTOR: 3
      BROKER_URL: tcp://activemq:61616
      HAZELCAST_CLUSTER_NAME: SearchEngine
    volumes:
      - ./mnt/datalake:/app/datalake
      - ./mnt/logs:/app/logs
    depends_on:
      - activemq
    networks:
      - search_net

  indexing1:
    build:
      context: ./indexing-service
    image: indexing-service:latest
    container_name: indexing1
    ports:
      - "5702:5702"
    environment:
      PUBLIC_IP: "" #IP
      HZ_PORT: "5702"
      BROKER_URL: tcp://activemq:61616
      HAZELCAST_CLUSTER_NAME: SearchEngine
    depends_on:
      - activemq
      - ingestion1
    networks:
      - search_net

networks:
  search_net:
    driver: bridge
