services:
  ingestion1:
    build:
      context: ./ingestion-service/
    image: ingestion-service:latest
    ports:
      - "5701:5701"
    command: ['datalake', 'logs/log.log']
    environment:
      PUBLIC_IP: "" # IP
      REPLICATION_FACTOR: 3
    volumes:
      - ./mnt/datalake:/app/datalake
      - ./mnt/logs:/app/logs

